
[mysqld]
bind-address = 0.0.0.0
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
log_error = /var/log/mysql/error.log

# Performance tuning options
max_connections = 100
query_cache_size = 16M
query_cache_type = 1

[mysqld_safe]
log_error = /var/log/mysql/error.log
pid_file = /var/run/mysqld/mysqld.pid

[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock

[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[mysql]
no_auto_rehash

[isamchk]
key_buffer_size = 16M