cluster.name: "opensearch-cluster"
node.name: "node-1"
path.data: /opt/opensearch-2.19.0/data
path.logs: /opt/opensearch-2.19.0/logs
network.host: 0.0.0.0
http.port: 9200

# Single node NO cluster primarly for DEV
discovery.type: single-node

# "Disable" production mode.
#discovery.seed_hosts:
#  - 192.168.1.101
#  - 192.168.1.102
#cluster.initial_cluster_manager_nodes:
#  - node-1
#  - node-2

# Disable SECURITY since this will only run locally for now.
# @todo
# OpenSearch Security plugin settings
plugins.security.disabled: true
#plugins.security.ssl.enabled: false
#plugins.security.ssl.transport.enabled: false
#plugins.security.ssl.transport.pemcert_filepath: node-cert.pem
#plugins.security.ssl.transport.pemkey_filepath: node-key.pem
#plugins.security.ssl.transport.pemtrustedcas_filepath: root-ca.pem
#plugins.security.ssl.transport.enforce_hostname_verification: false

#plugins.security.ssl.http.enabled: false
#plugins.security.ssl.http.pemcert_filepath: node-cert.pem
#plugins.security.ssl.http.pemkey_filepath: node-key.pem
#plugins.security.ssl.http.pemtrustedcas_filepath: root-ca

# AI RAG plugin-specific settings
#plugins.ai_rag.enabled: true
#plugins.ai_rag.model_cache_size: 10GB
#plugins.ai_rag.default_model: "openai-gpt4o"